<!--Incrustamos el componente header-->
<app-header titulo="componentes"></app-header>


<ion-content >
  <ion-button>Activo</ion-button>
  <ion-button [disabled]="true">Inactivo</ion-button>
  <ion-button fill="outline">Sin Relleno</ion-button>
  <ion-button>
    <ion-icon slot="icon-only" name="home"></ion-icon>
  </ion-button>
  <ion-button expand="block">Block</ion-button>
  <ion-button expand="full">Full</ion-button>
  <ion-button shape="round">Redondo</ion-button>
  <ion-button color="secondary">Color Secundario</ion-button>
</ion-content>

